<!DOCTYPE html>
<html id="ng-app" ng-app="dueApp">
<head>
    <title>TestContrat</title>
    <!--[if gt IE 9]><!-->
    <base href="/due/">
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <base href="https://${server_name}/due/">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta content='initial-scale=1.0, maximum-scale=1.0, width=device-width' name='viewport'/>

    <!-- build:css({.tmp,app}) static/css/due.min.css -->
    <link rel="stylesheet" href="css/due.css" media="screen"/>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) static/js/json3/lib/json3.min.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) static/js/es5-shim/es5-shim.min.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <script>
        window.type_id = "${type_id}";
        window.envkey = "${envkey}";
        window.entity_id = "${entity_id}";
        window.instance_id = "${instance_id}";

    </script>
</head>
<body>
<div id="top">
    <nav class="top-bar legendbar">
        <ul class="inline-list">
            <li>
                <h2>DUE v0.5</h2>
            </li>
            <li>
                <a href="logout"><span>Deconnexion</span></a>
            </li>
            <li><span>Code couleur: </span></li>
            <li class="kb-count-uncomplete"><span>&nbsp;</span></li>
            <li class="kb-label-uncomplete"><span>Incomplet</span></li>
            <li class="kb-count-advised"><span>&nbsp;</span></li>
            <li class="kb-advised"><span>Conseill&eacute;</span></li>
            <li class="kb-count-disadvised"><span>&nbsp;</span></li>
            <li class="kb-disadvised"><span>D&eacute;conseill&eacute;</span></li>
            <li class="kb-count-excluded-violated"><span>&nbsp;</span></li>
            <li class="kb-excluded-violated"><span>Incoh&eacute;rent</span></li>
        </ul>
    </nav>
    <div ng-controller="PageController">

        <div class="row">
            <div ng-controller="EtudeController">
                <div>
                    <ul class="inline-list">
                        <li><h2>Etude</h2></li>
                        <li>
                            <button class="button small" ng-click="exportDoc()">Exporter (.DOCX)</button>
                        </li>
                        <li>
                            <button class="button small" ng-click="saveSession()">Sauver &amp; Quitter</button>
                        </li>
                        <li>
                            <button class="button small" ng-click="closeSession()">Quitter</button>
                        </li>
                    </ul>
                </div>
                <!-- Progression Bars -->
                <div co-progress type="warning" pvalue="0"
                     is-saving="isSearching"
                     first-message="Traitement.."
                     second-message="Traitement en cours..." start-event="searchStart"
                     end-event="searchFinished"></div>
                <!-- Societe -->
                <div class="aggregate">
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-6">
                                <div co-title="" property="DUE.bo.Societe" bo="DUE"></div>
                                <div co-simple="" property="DUE.bo.Societe.DenominationSociale"
                                     bo="DUE"></div>
                                <div co-simple="" property="DUE.bo.Societe.NombreDeSalaries"
                                     bo="DUE"></div>
                                <div co-combobox=""
                                     property="DUE.bo.Societe.StructureDeRepresentationCollective0"
                                     bo="DUE"
                                     comboclass="combo-normal"></div>
                            </div>
                            <div class="columns small-6">
                                <div co-title="" property="DUE.bo.Societe.CCN" bo="DUE"></div>
                                <div co-simple="" property="DUE.bo.Societe.CCN.IDCC" bo="DUE"></div>
                                <div co-simple="" property="DUE.bo.Societe.CCN.TitreCCN0"
                                     bo="DUE"></div>
                            </div>
                        </div>
                    </div>
                    <div class="aggregate-footer">
                    </div>

                </div>
                <!-- organisme -->
                <div class="aggregate">
                    <div class="aggregate-header">
                        <div co-title="" property="DUE.bo.OrganismeAssureur" bo="DUE"></div>
                    </div>
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-6">
                                <div co-yesno=""
                                     property="DUE.bo.OrganismeAssureur.AMentionnerDansLaDUE"
                                     bo="DUE"></div>
                            </div>
                            <div class="columns small-6">
                                <div ng-show="DUE.bo.OrganismeAssureur.AMentionnerDansLaDUE.value === 'OUI'">
                                    <div co-string="" property="DUE.bo.OrganismeAssureur.Nom"
                                         bo="DUE"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="aggregate-footer">
                    </div>

                </div>
                <!-- communs -->
                <div class="aggregate">
                    <div class="aggregate-header">Statut</div>
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-6">
                                <div co-yesno="" bo="DUE" property="DUE.bo.SagitDeLaMiseEnPlaceDunRegime"></div>
                            </div>
                            <div class="columns small-6">
                                <div co-combobox="" comboclass="combo-normal"
                                     property="DUE.bo.StatutDeLaDUE"
                                     bo="DUE"></div>
                            </div>
                        </div>
                        <div class="row" ng-show="DUE.bo.SagitDeLaMiseEnPlaceDunRegime.value === 'OUI'">
                            <div class="columns small-6">
                                <div co-date="" property="DUE.bo.DateDeMiseEnPlace" bo="DUE"></div>
                            </div>
                            <div class="columns small-6">
                                <div co-date="" property="DUE.bo.DateDeffet" bo="DUE"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-6">
                                <div co-yesno=""
                                     property="DUE.bo.LeFinancementEtaitilExclusivementALaChargeDeLemployeur"
                                     bo="DUE"></div>
                                <div co-yesno="" bo="DUE"
                                     property="DUE.bo.LeRegimeBeneficieTilALensembleDesSalaries"></div>
                            </div>
                            <div class="columns small-6">
                                <div co-yesno="" bo="DUE"
                                     property="DUE.bo.ModificationDeLaParticipationPatronale"></div>
                                <div co-yesno=""
                                     property="DUE.bo.LeFinancementDevientDoncPartiellementOuTotalementALaChargeDuSalarieDansCeCasLaDispenseResultantDeLarticle11DeLaLoivinSapplique"
                                     bo="DUE"></div>
                            </div>

                        </div>
                    </div>
                    <div class="aggregate-footer">
                    </div>
                </div>

                <div class="aggregate" ng-show="DUE.bo.LeRegimeBeneficieTilALensembleDesSalaries.value === 'NON'">
                    <div class="aggregate-header">
                        <div co-title="" property="DUE.bo.CategorieDeBeneficiaires" bo="DUE"></div>
                    </div>
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-12">

                                <div co-combobox="" comboclass="combo-large"
                                     property="DUE.bo.CategorieDeBeneficiaires.CategorieDeSalariesBeneficiaires0"
                                     bo="DUE"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12">
                                <div co-combobox="" comboclass="combo-large"
                                     property="DUE.bo.CategorieDeBeneficiaires.CritereDidentification"
                                     bo="DUE"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="aggregate"
                     ng-show="DUE.bo.CategorieDeBeneficiaires.CritereDidentification.value === 'Cadres / Non cadres'">
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-12">
                                <div co-combobox=""
                                     property="DUE.bo.CategorieDeBeneficiaires.SalariesCadres"
                                     bo="DUE" comboclass="combo-large"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12">
                                <div co-combobox=""
                                     property="DUE.bo.CategorieDeBeneficiaires.SalariesNonCadres"
                                     bo="DUE" comboclass="combo-large"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="aggregate"
                     ng-show="DUE.bo.CategorieDeBeneficiaires.CritereDidentification.value === 'Tranche de rémunération'">
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-12">
                                <div co-combobox=""
                                     property="DUE.bo.CategorieDeBeneficiaires.SalariesIdentifiesParLeNiveauMinimalDeLeurRemuneration"
                                     bo="DUE" comboclass="combo-large"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12">
                                <div co-combobox=""
                                     property="DUE.bo.CategorieDeBeneficiaires.SalariesIdentifiesParLeNiveauMaximalDeLeurRemuneration"
                                     bo="DUE" comboclass="combo-large"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="aggregate" ng-show="DUE.bo.CategorieDeBeneficiaires.CritereDidentification.value === 'CCN'">
                    <div class="aggregate-body">
                        <div class="aggregate">
                            <div class="aggregate-header">
                                <div co-title="" bo="DUE"
                                     property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486Cadres"></div>
                            </div>
                            <div class="aggregate-body">
                                <div class="row">
                                    <div class="column small-6 bordered">
                                        <div co-combobox="" comboclass="combo-normal" bo="DUE"
                                             property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486Cadres.Intitule"></div>

                                    </div>
                                    <div class="column small-6">
                                        <div co-toggle="" bo="DUE"
                                             property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486Cadres.Presence"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aggregate">
                            <div class="aggregate-header">
                                <div co-title="" bo="DUE"
                                     property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486ChargesDenquete"></div>
                            </div>
                            <div class="aggregate-body">
                                <div class="row">
                                    <div class="column small-6 bordered">
                                        <div co-combobox="" comboclass="combo-normal" bo="DUE"
                                             property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486ChargesDenquete.Intitule"></div>

                                    </div>
                                    <div class="column small-6">
                                        <div co-toggle="" bo="DUE"
                                             property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486ChargesDenquete.Presence"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aggregate">
                            <div class="aggregate-header">
                                <div co-title="" bo="DUE"
                                     property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486Etam"></div>
                            </div>
                            <div class="aggregate-body">
                                <div class="row">
                                    <div class="column small-6 bordered">
                                        <div co-combobox="" comboclass="combo-normal" bo="DUE"
                                             property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486Etam.Intitule"></div>

                                    </div>
                                    <div class="column small-6">
                                        <div co-toggle="" bo="DUE"
                                             property="DUE.bo.CategorieDeBeneficiaires.aPourComposantCategoriesDeBeneficiairesParCCN.CategorieCCN1486Etam.Presence"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- access regime -->
                <div class="aggregate">
                    <div class="aggregate-header">
                        <div co-title="" property="DUE.bo.ConditionDaccesAuRegime" bo="DUE"></div>
                    </div>
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-6">
                                <div co-combobox="" comboclass="combo-small"
                                     property="DUE.bo.ConditionDaccesAuRegime.Anciennete"
                                     bo="DUE"></div>
                            </div>
                            <div class="columns small-6"></div>
                        </div>

                    </div>
                    <div class="aggregate-footer">
                    </div>

                </div>

                <div class="aggregate">
                    <div class="aggregate-header">
                        <div co-title="" property="DUE.bo.Cotisation" bo="DUE"></div>
                    </div>
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-6">
                                <div co-combobox="" property="DUE.bo.Cotisation.TypeDeCotisation"
                                     bo="DUE"
                                     comboclass="combo-normal"></div>
                            </div>
                            <div class="columns small-6">
                                <div co-simple="" property="DUE.bo.Cotisation.PartPatronalep"
                                     bo="DUE"
                                     comboclass="combo-normal"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-6">
                                <div co-simple="" property="DUE.bo.Cotisation.Valeur"
                                     bo="DUE"></div>
                            </div>
                            <div class="columns small-6">
                                <div co-combobox="" comboclass="combo-small"
                                     property="DUE.bo.Cotisation.Unite"
                                     bo="DUE"></div>
                            </div>
                        </div>

                    </div>
                    <div class="aggregate-footer">
                    </div>
                </div>

                <div class="aggregate">
                    <div class="aggregate-header">
                        <div co-title="" property="DUE.bo.DispensesDaffiliation" bo="DUE"></div>
                    </div>
                    <div class="aggregate-body">
                        <div class="row">
                            <div class="columns small-12">
                                <div co-yesno=""
                                     property="DUE.bo.DispensesDaffiliation.DispensePourLesSalariesATempsPartielEtApprentis"
                                     bo="DUE"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12">
                                <div co-yesno=""
                                     property="DUE.bo.DispensesDaffiliation.DispensePourLesSalariesBeneficiantEnQualiteDayantsDroitOuDansLeCadreDunAutreEmploiDuneCouvertureCollectiveDeRemboursementDeFraisDeSante"
                                     bo="DUE"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12">
                                <div co-yesno=""
                                     property="DUE.bo.DispensesDaffiliation.DispensePourLesSalariesCouvertsParUneAssuranceIndividuelleremboursementDeFraisDeSante"
                                     bo="DUE"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12">
                                <div co-yesno=""
                                     property="DUE.bo.DispensesDaffiliation.DispensePourLesSalariesEtApprentisSousContratADureeDetermineeOuContratDeMissionDuneDureeAuMoinsEgaleA12Mois"
                                     bo="DUE"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12">
                                <div co-yesno=""
                                     property="DUE.bo.DispensesDaffiliation.DispensePourLesSalariesEtApprentisSousContratADureeDetermineeOuContratDeMissionDuneDureeInferieureA12Mois"
                                     bo="DUE"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12">
                                <div co-yesno=""
                                     property="DUE.bo.DispensesDaffiliation.DispensePourLesSalariesQuiSontBeneficiairesDeLaideALacquisitionDuneComplementaireSante"
                                     bo="DUE"></div>
                            </div>
                        </div>
                    </div>
                    <div class="aggregate-footer">
                    </div>

                </div>

            </div>

        </div>

        <footer class="row">
            <div class="large-12 columns">
                <hr>
                <div class="row">
                    <div class="large-6 columns">
                        <p>&copy; Khresterion 2015-2016</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li>
                                <a href="#">.</a>
                            </li>
                            <li>
                                <a href="#">.</a>
                            </li>
                            <li>
                                <a href="#">.</a>
                            </li>
                            <li>
                                <a href="#">.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- build:js({.tmp,app}) static/js/jquery/1.11.1/jquery.min.js -->
<!--[if lt IE 9]>
<script src="bower_components/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js({.tmp,app}) static/js/jquery/jquery.min.js -->
<!--[if gte IE 9]><!-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!--<![endif]-->
<!-- endbuild -->

<!-- build:js({.tmp,app})  static/js/polyfill/rem.min.js -->
<!--[if lt IE 9]>
<script src="js/polyfill/rem.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js({.tmp,app})  static/js/openlib.js -->
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-i18n/angular-locale_fr-fr.js"></script>
<script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app})  static/js/etude.min.js -->
<script src="js/modules/kengine/kengine.property.js"></script>
<script src="js/modules/kengine/kengine.instance.js"></script>
<script src="js/modules/kengine/kengine.reification.js"></script>
<script src="js/modules/animations/progressbar.js"></script>
<script src="js/modules/animations/spinnerbar.js"></script>
<script src="js/modules/kengine/cosimple.js"></script>
<script src="js/modules/kengine/codate.js"></script>
<script src="js/modules/etude/view.js"></script>
<!-- endbuild -->
</body>
</html>