<!DOCTYPE html>
<html id="ng-app" ng-app="dueApp">
<head>
    <title>TestContrat</title>
    <!--[if gt IE 9]><!-->
    <base href="/due/">
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <base href="https://${server_name}/due/">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta content='initial-scale=1.0, maximum-scale=1.0, width=device-width' name='viewport'/>

    <!-- build:css({.tmp,app}) static/css/due.min.css -->
    <link rel="stylesheet" href="css/due.css" media="screen"/>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) static/js/json3/lib/json3.min.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) static/js/es5-shim/es5-shim.min.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <script>
        window.envkey = "${envkey}";
        window.plan_id = "${plan_id}";
    </script>
</head>
<body>

<div class="top">
    <nav class="top-bar legendbar">
        <ul class="inline-list">
            <li><h2><a href="/due/" target="_top">DUE v0.5</a></h2></li>
            <li><a href="logout"><span>Deconnexion</span></a></li>
            <li><span>Code couleur: </span></li>
            <li class="kb-count-uncomplete"><span>&nbsp;</span></li>
            <li class="kb-label-uncomplete"><span>Incomplet</span></li>
            <li class="kb-count-advised"><span>&nbsp;</span></li>
            <li class="kb-advised"><span>Conseill&eacute;</span></li>
            <li class="kb-count-disadvised"><span>&nbsp;</span></li>
            <li class="kb-disadvised"><span>D&eacute;conseill&eacute;</span></li>
            <li class="kb-count-excluded-violated"><span>&nbsp;</span></li>
            <li class="kb-excluded-violated"><span>Incoh&eacute;rent</span></li>
        </ul>
    </nav>
    <div class="row" ng-cloak>
        <!-- Section0 -->
        <div class="small-12 columns">
            <div class="row" ng-controller="PlanViewController">
                <!-- Progression Bars -->
                <div co-progress type="warning" pvalue="0"
                     is-saving="isSearching"
                     first-message="Traitement.."
                     second-message="Traitement en cours..." start-event="searchStart"
                     end-event="searchFinished"></div>
                <div>
                    <ul class="inline-list">
                        <li>Mode Plan ${plan_id}</li>
                        <li>
                            <button class="button tiny" ng-click="save()">Sauver &amp; Fermer
                            </button>
                        </li>
                        <li>
                            <button class="button tiny" ng-click="close()">Fermer</button>
                        </li>
                        <li>
                            <button class="button tiny" ng-click="reloadSections()">Recharger Sections</button>
                        </li>
                    </ul>
                </div>
                <div class="dbview" ng-cloak>
                    <table>
                        <thead>
                        <tr>
                            <th class="idcolumn">ID</th>
                            <th class="scrollkcolumn">Instance</th>
                            <th class="fieldcolumn"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="section in sectionList track by section.id">
                            <td class="idcolumn">{{section.id}}</td>
                            <td class="scrollkcolumn">{{section.label}}</td>
                            <td class="fieldcolumn">
                                <div class="aggregate">
                                    <div class="aggregate-body">
                                        <div class="row">
                                            <div class="columns small-6">
                                                <div co-yesno=""
                                                     property="getProperty(section.id,'aPourProprieteEstPresente')"
                                                     bo="{{getInstanceName(section.id)}}"></div>
                                                <div co-yesno=""
                                                     property="getProperty(section.id,'aPourProprieteEstIncluse')"
                                                     bo="{{getInstanceName(section.id)}}"></div>
                                                <div co-yesno=""
                                                     property="getProperty(section.id,'aPourProprieteAUneAlternativeIncluse')"
                                                     bo="{{getInstanceName(section.id)}}"></div>
                                                <span>Selectionner la section selon ID du tableau</span>
                                                <div co-instancecombo="" comboclass="combo-normal"
                                                     property="getProperty(section.id,'aPourAlternativeSection0')"
                                                     bo="{{getInstanceName(section.id)}}"></div>
                                                <div co-instancecombo="" comboclass="combo-normal"
                                                     property="getProperty(section.id,'aPourComposantSection0')"
                                                     bo="{{getInstanceName(section.id)}}"></div>
                                                <div co-instancecombo="" comboclass="combo-normal"
                                                     property="getProperty(section.id,'estSuiviDeSection0')"
                                                     bo="{{getInstanceName(section.id)}}"></div>
                                            </div>
                                            <div class="columns small-6">
                                                <div co-clause="" property="getProperty(section.id,'estRepresenteParRedaction')" bo="{{getInstanceName(section.id)}}"></div>
                                                <div co-clause="" property="getProperty(section.id,'Texte')" bo="{{getInstanceName(section.id)}}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="3"></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- build:js({.tmp,app}) static/js/jquery/1.11.1/jquery.min.js -->
<!--[if lt IE 9]>
<script src="bower_components/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js({.tmp,app}) static/js/jquery/jquery.min.js -->
<!--[if gte IE 9]><!-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!--<![endif]-->
<!-- endbuild -->

<!-- build:js({.tmp,app})  static/js/polyfill/rem.min.js -->
<!--[if lt IE 9]>
<script src="js/polyfill/rem.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js({.tmp,app})  static/js/openlib.js -->
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-i18n/angular-locale_fr-fr.js"></script>
<script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app})  static/js/planedit.min.js -->
<script src="js/modules/kengine/kengine.property.js"></script>
<script src="js/modules/kengine/kengine.instance.js"></script>
<script src="js/modules/kengine/kengine.reification.js"></script>
<script src="js/modules/animations/progressbar.js"></script>
<script src="js/modules/animations/spinnerbar.js"></script>
<script src="js/modules/kengine/cosimple.js"></script>
<script src="js/modules/kengine/codate.js"></script>
<script src="js/modules/etude/planlist.js"></script>
<!-- endbuild -->
</html>