<!DOCTYPE html>
<html id="ng-app" ng-app="dueApp">
<head>
    <title>TestContrat</title>
    <!--[if gt IE 9]><!-->
    <base href="/due/">
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <base href="https://${server_name}/due/">
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta content="initial-scale=1,maximum-scale=1,width=device-width" name="viewport">

	<link rel="stylesheet" href="static/css/due.min.d24eb275.css" media="screen">
	<link rel="stylesheet" href="static/css/treeview.min.595d9325.css">

	<!--[if lt IE 9]>
	<script src="static/js/json3/lib/json3.min.82255f24.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="static/js/es5-shim/es5-shim.min.167f3981.js"></script>
	<![endif]-->

    <script>
		window.envkey = "${envkey}";
		window.plan_id = "${plan_id}";
    </script>
</head>
<body>
	<div id="top">
		<nav class="top-bar legendbar">
	        <ul class="inline-list">
	            <li>
	                <h1>DUE v0.3</h1>
	            </li>
	            <li>
	                <a href="logout"><span>Deconnexion</span></a>
	            </li>
	        </ul>
	    </nav>
		<!-- item template -->
		<div ng-controller="PlanViewController">
			<!-- Progression Bars -->
			<div co-progress type="warning" pvalue="0" is-saving="isSearching" first-message="Traitement.." second-message="Traitement en cours..." start-event="searchStart" end-event="searchFinished"></div>
			<div class="row">
				<div class="small-6 columns">
					<div class="duetree-holder">
						<h2>Treeview</h2>
						<div id="treeview_container">
                            <script type="text/x-template" id="item-template">
                                <div id="treeview">
                                    <li>
                                        <div @contextmenu.prevent="menu()"
                                            id="s{{model.id+1}}"
                                            data-tooltip aria-haspopup="true" title="{{model.fullname}}"
                                            class="section"
                                            :class="{alternative: model.isAlt}"
                                            @click="show">
                                            {{model.name}}
                                        </div>
                                        <ul class="listAlts">
                                            <item
                                                class="alt"
                                                v-for="model in model.alts"
                                                :model="model">
                                            </item>
											<div
													class="newAlt"
													v-show="model.newAltPresent"
													@click="showModal(false)">
											</div>
                                        </ul>
										<div class="ctx-container" id="ctx{{model.id+1}}" v-show="showCtx" @click="closeCtx">
											<a @click="closeCtx" class="close-ctx">&#215;</a>
											<a class="remove" @click="removeSection(model.id+1)">Supprimer</a>
										</div>
                                        <ul v-if="isFolder" id="{{model.id+1}}" class="children">
                                            <item
                                                class="item"
                                                v-for="model in model.children"
                                                :model="model">
                                            </item>
                                            <li class="plus" @click="showModal(true)"></li>
                                        </ul>
                                        <div v-show="open" class="modal">
                                            <a @click="closeModal" class="close-modal">&#215;</a>
                                            <ul>
                                                <li v-for="name in model.nameSec"
                                                    :model="model">
                                                    <button class="button-modal" @click="addSection(name)" type="button">{{name}}</button>
                                                </li>
                                            </ul>
                                        </div>
										<div id="details{{model.id+1}}" class="details" v-show="showDetails">
											<a @click="closeDetails" class="close-details">&#215;</a>
											<ul>
												<li><div class="presence">Est pr&eacute;sente</div> <div class="buttonPresence"><input type="button" value="OUI"><input type="button" value="NON"> </div> </li>
 												<li><div class="estInclu">Est incluse</div> <div class="buttonEstInclu"><input type="button" value="OUI"><input type="button" value="NON"> </div></li>
											</ul>
											<a class="comp" @click="showModal()">Ajouter une Composante</a>
										</div>
                                    </li>
                                </div>
                            </script>
						</div>

						<div id="help" data-tooltip aria-haspopup="true" title="Double-cliquez sur une section pour lui ajouter une première sous-section"></div>

						<!-- the demo root element -->
						<ul id="demo">
							<item class="item" :model="treeData">
							</item>
						</ul>

					</div>
				</div>
			</div>

			<footer class="row">
				<div class="large-12 columns">
					<hr>
					<div class="row">
						<div class="large-6 columns">
							<p>&copy; Khresterion 2015-2016</p>
						</div>
						<div class="large-6 columns">
							<ul class="inline-list right">
								<li>
									<a href="#">.</a>
								</li>
								<li>
									<a href="#">.</a>
								</li>
								<li>
									<a href="#">.</a>
								</li>
								<li>
									<a href="#">.</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<!--[if lt IE 9]>
	<script src="static/js/jquery/1.11.1/jquery.min.35da7198.js"></script>
	<![endif]-->

	<!--[if gte IE 9]><!-->
	<script src="static/js/jquery/jquery.min.29a73cfd.js"></script>
	<!--<![endif]-->

	<!--[if lt IE 9]>
	<script src="static/js/polyfill/rem.min.0870cc19.js"></script>
	<![endif]-->

	<script src="static/js/treeview.min.a7353b30.js"></script>


	<script src="static/js/openlib_christophe.6a68a6d7.js"></script>

	<script>
		$(document).foundation();
	</script>

    <script src="static/js/sectionlist.min.dedc020d.js"></script>

	<script src="static/js/planedit.min.bde42be3.js"></script>

</body>
</html>